*synctex.gz
*.Rdata
*.RData
*.Rda
*.rds
*.out
*.bbl
*.rda
*.Rds
*.Rhistory
*.docx
analyses/.Rhistory
*.Rapp.history

*.log
*.aux
*.blg
*.fdb_latexmk
*.fls

*Rplots.pdf
*.DS_Store
/notposting

/analyses/thermal_perf
